openapi: 3.0.3
info:
  title: Agent API
  version: 0.1.0
  description: Production-grade API for autonomous onchain execution.
servers:
  - url: https://api.barterpayments.xyz
paths:
  /health:
    get:
      summary: Health check
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  version:
                    type: string
  /chains:
    get:
      summary: Supported chains
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  chains:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        chainId:
                          type: integer
  /intents/parse:
    post:
      summary: Parse user intent
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                chain:
                  type: string
      responses:
        '200':
          description: Parsed intent
          content:
            application/json:
              schema:
                type: object
                properties:
                  intent:
                    type: object
                  confidence:
                    type: number
        '400':
          $ref: '#/components/responses/BadRequest'
  /intents/execute:
    post:
      summary: Execute intent (quote only)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                text:
                  type: string
                chain:
                  type: string
                address:
                  type: string
                toAddress:
                  type: string
                slippageBps:
                  type: integer
                minUsd:
                  type: number
                includeUnknown:
                  type: boolean
      responses:
        '200':
          description: Intent result
          content:
            application/json:
              schema:
                type: object
        '400':
          $ref: '#/components/responses/BadRequest'
  /tokens/resolve:
    post:
      summary: Resolve token by symbol, ticker, or address
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                query:
                  type: string
              required: [chain, query]
      responses:
        '200':
          description: Token resolved
          content:
            application/json:
              schema:
                type: object
                properties:
                  found:
                    type: boolean
                  token:
                    $ref: '#/components/schemas/Token'
        '422':
          $ref: '#/components/responses/ProviderError'
  /quotes/swap:
    post:
      summary: Get swap quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                fromToken:
                  type: string
                toToken:
                  type: string
                amount:
                  type: string
                address:
                  type: string
                slippageBps:
                  type: integer
              required: [chain, fromToken, toToken, amount, address]
      responses:
        '200':
          description: Quote + tx request
          content:
            application/json:
              schema:
                type: object
                properties:
                  quote:
                    $ref: '#/components/schemas/Quote'
                  txRequest:
                    $ref: '#/components/schemas/TxRequest'
                  requestId:
                    type: string
        '502':
          $ref: '#/components/responses/ProviderError'
  /quotes/bridge:
    post:
      summary: Get bridge quote
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                fromChain:
                  type: string
                toChain:
                  type: string
                fromToken:
                  type: string
                toToken:
                  type: string
                amount:
                  type: string
                fromAddress:
                  type: string
                toAddress:
                  type: string
              required: [fromChain, toChain, fromToken, toToken, amount, fromAddress]
      responses:
        '200':
          description: Bridge quote + tx request
          content:
            application/json:
              schema:
                type: object
                properties:
                  quote:
                    type: object
                  txRequest:
                    $ref: '#/components/schemas/TxRequest'
                  requestId:
                    type: string
        '502':
          $ref: '#/components/responses/ProviderError'
  /wallet/analyze:
    post:
      summary: Analyze wallet holdings
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                address:
                  type: string
                minUsd:
                  type: number
                includeUnknown:
                  type: boolean
              required: [chain, address]
      responses:
        '200':
          description: Wallet analysis
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  holdings:
                    type: array
                    items:
                      type: object
                      properties:
                        symbol:
                          type: string
                        address:
                          type: string
                        balance:
                          type: string
                        priceUsd:
                          type: string
                        valueUsd:
                          type: string
                  totalUsd:
                    type: string
        '502':
          $ref: '#/components/responses/ProviderError'
  /wallet/balance:
    post:
      summary: Get token balance
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                address:
                  type: string
                tokenAddress:
                  type: string
                decimals:
                  type: integer
              required: [chain, address, tokenAddress]
      responses:
        '200':
          description: Token balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  address:
                    type: string
                  tokenAddress:
                    type: string
                  balance:
                    type: string
                  rawBalance:
                    type: string
                  decimals:
                    type: integer
  /orders/limit/build:
    post:
      summary: Build limit order typed data
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                maker:
                  type: string
                side:
                  type: string
                  enum: [buy, sell]
                tokenIn:
                  type: string
                tokenOut:
                  type: string
                amountIn:
                  type: string
                targetPriceUsd:
                  type: string
                expiry:
                  type: integer
                salt:
                  type: string
              required: [chain, maker, side, tokenIn, tokenOut, amountIn, targetPriceUsd, expiry]
      responses:
        '200':
          description: Typed data
  /orders/limit/submit:
    post:
      summary: Submit limit order
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                order:
                  type: object
                signature:
                  type: string
              required: [order, signature]
      responses:
        '200':
          description: Order stored
  /orders/limit/{id}:
    get:
      summary: Get limit order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Order
        '404':
          $ref: '#/components/responses/NotFound'
  /orders/limit/{id}/cancel:
    post:
      summary: Cancel limit order
      parameters:
        - in: path
          name: id
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                address:
                  type: string
                signature:
                  type: string
              required: [address, signature]
      responses:
        '200':
          description: Cancelled
  /tx/broadcast:
    post:
      summary: Broadcast signed transaction
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                chain:
                  type: string
                signedTx:
                  type: string
              required: [chain, signedTx]
      responses:
        '200':
          description: Broadcast result
  /tx/{hash}:
    get:
      summary: Get transaction status
      parameters:
        - in: path
          name: hash
          required: true
          schema:
            type: string
        - in: query
          name: chain
          required: false
          schema:
            type: string
      responses:
        '200':
          description: Tx status
  /agent/wallets/create:
    post:
      summary: Create agent wallet (CDP)
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                networkId:
                  type: string
                walletNo:
                  type: integer
              required: [agentId]
      responses:
        '200':
          description: Wallet created
  /agent/wallets/{agentId}:
    get:
      summary: Get agent wallet
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
        - in: query
          name: walletNo
          required: false
          schema:
            type: integer
      responses:
        '200':
          description: Wallet
        '404':
          $ref: '#/components/responses/NotFound'
  /agent/wallets/{agentId}/list:
    get:
      summary: List agent wallets
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Wallet list
  /agent/keys/create:
    post:
      summary: Create agent API key
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
              required: [agentId]
      responses:
        '200':
          description: API key created
        '409':
          description: Agent ID already exists
  /agent/keys/{agentId}:
    get:
      summary: Get agent key metadata
      parameters:
        - in: path
          name: agentId
          required: true
          schema:
            type: string
      responses:
        '200':
          description: API key metadata
        '404':
          $ref: '#/components/responses/NotFound'
  /agent/execute:
    post:
      summary: Execute natural language action
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                agentId:
                  type: string
                prompt:
                  type: string
                chain:
                  type: string
                networkId:
                  type: string
                walletNo:
                  type: integer
                slippageBps:
                  type: integer
                model:
                  type: string
                maxSteps:
                  type: integer
              required: [agentId, prompt]
      responses:
        '200':
          description: Execution result
components:
  schemas:
    Token:
      type: object
      properties:
        symbol:
          type: string
        address:
          type: string
        decimals:
          type: integer
        name:
          type: string
        chain:
          type: string
        priceUsd:
          type: string
        marketCap:
          type: string
        fdv:
          type: string
        liquidityUsd:
          type: string
        volume24h:
          type: string
        priceChange24h:
          type: string
        pairAddress:
          type: string
        pairCreatedAt:
          type: integer
        logoUrl:
          type: string
        websites:
          type: array
          items:
            type: object
        socials:
          type: array
          items:
            type: object
    Quote:
      type: object
      properties:
        fromToken:
          type: object
        toToken:
          type: object
        amountIn:
          type: string
        amountOut:
          type: string
        minAmountOut:
          type: string
        priceImpactBps:
          type: integer
        route:
          type: array
          items:
            type: string
        expiresAt:
          type: integer
    TxRequest:
      type: object
      properties:
        chainId:
          type: integer
        from:
          type: string
        to:
          type: string
        data:
          type: string
        value:
          type: string
        gas:
          type: string
        gasPrice:
          type: string
    Error:
      type: object
      properties:
        code:
          type: string
        message:
          type: string
        requestId:
          type: string
  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                $ref: '#/components/schemas/Error'
    ProviderError:
      description: Upstream provider error
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                $ref: '#/components/schemas/Error'
    NotFound:
      description: Not found
      content:
        application/json:
          schema:
            type: object
            properties:
              error:
                $ref: '#/components/schemas/Error'
